.page-header {
    display: flex;
    flex-direction: column;
}

.page-header-title {
    font-size: 1.5rem;
    font-weight: 600;
}

.page-header-description {
    color: #82868b;
}

.w-min {
    width: fit-content;
}

.h-auto {
    height: auto !important;
}

.h-fit {
    height: fit-content !important;
}

.multiline {
    white-space: pre-line !important;
}
