.swal2-popup .swal2-styled:focus {
    box-shadow: none !important;
}

div.dt-processing {
    box-shadow: none !important;
    border: none !important;
    background-color: transparent !important;
}

input[readonly] {
    background-color: #f2f2f2;
}

input[readonly]:focus {
    background-color: #f2f2f2;
}


/* Custom Breadcrumb Styles */
.custom-breadcrumb {
    background-color: transparent;
    /* Optional: Make breadcrumb background transparent */
    padding: 0;
    margin-bottom: 1rem;
    border-radius: 0;
    font-size: 16px;
}

.custom-breadcrumb .breadcrumb-item a {
    color: #007bff;
    /* Bootstrap primary color */
    text-decoration: none;
    font-weight: 500;
}

.custom-breadcrumb .breadcrumb-item a:hover {
    text-decoration: underline;
}

.custom-breadcrumb .breadcrumb-item.active {
    color: #6c757d;
    /* Grey color for the active breadcrumb */
    font-weight: 600;
}

.custom-breadcrumb .breadcrumb-item+.breadcrumb-item::before {
    content: "›";
    /* Custom arrow instead of the default slash */
    font-weight: 600;
    color: #6c757d;
    padding: 0 0.5rem;
}